<%- include("../partials/header") %>


<div class="container">
		<header class="jumbotron">
			<div class="container">
	<h1>
		Welcome to Bloggish!<br>
				</h1>
		<h3>
			<i>Write Less... Express More!</i>
				</h3>
			<p>
				View our blogs from all over the world!
			</p>
				<p>
					<i>Express your Views and Ideas with few words of your own!!</i>
				</p>
			<a class="btn btn-primary btn-lg" href="/campgrounds/new">Add New Blog</a>
			</div>
</header>
<div class="row text-center" style="display:flex; flex-wrap:wrap;">
	<% campgrounds.forEach(function(camp){ %>
	<div class="col-md-3 col-sm-6">
		<div class="thumbnail">
			<img src="<%= camp.image %>">
			<div class="caption">
				<h4>
					<%= camp.name %>
				</h4>
				<p>
					<a href="/campgrounds/<%= camp._id %>" class="btn btn-primary">More Info</a>
				</p>
			</div>
		</div>
			
		
		
			
		
	</div>
	
	
<% }); %>
	
		</div>
	</div>

	
	


<%- include("../partials/footer") %>